.wrapper {
  margin-bottom: var(--space-base);
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: var(--space-xs);
  font-size: var(--font-size-base);
  color: var(--color-dark);

  > span {
    color: var(--color-error);
  }
}

.container {
  position: relative;
  display: flex;
  align-items: center;
  border: 1px solid var(--color-dark);
  border-radius: var(--radius-md);
  padding: var(--space-sm) var(--space-base);
  transition: border-color 0.2s ease;

  &:hover {
    border-color: var(--color-primary--light);
  }

  &.focused {
    border-color: var(--color-primary--light);
  }

  &.error {
    border-color: var(--color-error);
  }

  &.success {
    border-color: var(--color-success);
  }

  &.disabled {
    background-color: var(--color-gray-300);
    border-color: var(--color-gray-300);
  }
}

.input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  font-size: var(--font-size-base);
  color: var(--color-dark);
  
  &::placeholder {
    color: var(--color-gray-500);
  }

  &:disabled {
    color: var(--color-gray-300);
  }
}

.icon {
  position: absolute;
  right: var(--space-base);
  display: flex;
  align-items: center;
  color: var(--color-dark);
  cursor: pointer;

  &:hover {
    color: var(--color-primary);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.helperText {
  margin-top: var(--space-2xs);
  font-size: var(--font-size-sm);
  color: var(--color-dark);
}

.errorText {
  margin-top: var(--space-2xs);
  font-size: var(--font-size-sm);
  color: var(--color-error);
}

// Password Specific Styles
.toggleButton {
  background: none;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin-left: var(--space-xs);
  cursor: pointer;

  > svg {
    width: var(--space-base);
    height: var(--space-base);
    color: var(--color-primary);
  }
}

.passwordStrengthBar {
  width: 100%;
  margin-top: var(--space-xs);
  border-radius: var(--radius-sm);
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--space-sm);
    background-color: var(--color-gray-200);
    border-radius: var(--radius-sm);
    z-index: 1;
  }
}

.passwordStrengthProgress {
  height: var(--space-sm);
  border-radius: var(--radius-sm);
  position: relative;
  z-index: 2;
  transition: all 0.25s ease-in-out;

  &.weak {
    background-color: var(--color-error);
  }

  &.fair {
    background-color: var(--color-warning);
  }

  &.good {
    background-color: var(--color-success);
  }

  &.strong {
    background-color: var(--color-success);
  }
}

.passwordStrengthText {
  margin-top: var(--space-xs);
  font-size: var(--font-size-xs);
  color: var(--color-gray-500);
}

.passwordRequirements {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: var(--font-size-sm);

    svg {
      color: var(--color-success);
    }
  }
}
