@use '@/styles/mixins/breakpoints' as *;

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-sm);

  @include breakpoint(md) {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--space-md);
  }

  @include breakpoint(lg) {
    grid-template-columns: repeat(4, 1fr);
  }
}
