.pill {
  padding: var(--space-2xs) var(--space-sm);
  border-radius: var(--radius-sm);

  > p {
    margin: auto;
    font-size: var(--font-size-sm);
    color: var(--color-white);
    text-align: center;
  }
}

.primary {
  background-color: var(--color-primary-500);
}

.secondary {
  background-color: var(--color-accent-500);
}

.error {
  background-color: var(--color-error-500);
}

.success {
  background-color: var(--color-success-500);
}

.warning {
  background-color: var(--color-warning-500);
}

.default {
  background-color: var(--color-neutral-500);
}
