.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xs);

    p {
        color: var(--color-primary);
        font-size: var(--font-size-sm);
    }

    hr {
        border: none;
        width: 100%;
        height: 1px;
        background: var(--color-primary);
    }
}