.section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-base);
  margin-bottom: var(--space-base);
  width: fit-content;
  padding: var(--space-md);
  border: 1px dashed var(--color-gray-300);
  border-radius: var(--radius-lg);
}

.bgDark {
  background-color: var(--color-dark);
}