.reviews {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);

  .stars {
    display: flex;
    gap: var(--spacing-50);

    > svg {
      width: var(--spacing-300);
      height: var(--spacing-300);
      color: var(--color-primary-500);
    }
  }

  .text {
    font-size: var(--font-size-xs);
    color: var(--color-neutral-900);
  }
}
