.container {
    background-color: var(--color-gray-50);
    padding: var(--space-base) var(--space-md);
    color: var(--color-gray-700);

    > div {
        display: flex;
        justify-content: space-between;
    }
}

.message {
    display: flex;
    align-items: center;
    gap: var(--space-xs);

    > svg {
        color: var(--color-secondary);
    }
}