.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-gray-50);
    padding: 0 var(--space-md);
    color: var(--color-gray-700);
}

.message {
    display: flex;
    align-items: center;
    gap: var(--space-xs);
    padding: var(--space-base) 0;
}

.iconAlert {
    color: var(--color-secondary);
}

.iconError {
    color: var(--color-error);
}

.iconSuccess {
    color: var(--color-success);
}