////////////////////
/// Borders
////////////////////
:root {
    // Border Radius
    --border-radius-sm:    2px;
    --border-radius-base:  4px;
    --border-radius-md:    6px;
    --border-radius-lg:    8px;
    --border-radius-xl:    12px;
    --border-radius-2xl:   16px;
    --border-radius-3xl:   24px;
    --border-radius-round: 9999px;

    //Border Width
    --border-width-sm:   1px;
    --border-width-base: 2px;
    --border-width-md:   4px;
    --border-width-lg:   8px;
}