@import "breakpoints";

////////////////////////
/// Transitions
////////////////////////
:root {
  --transition-basic: all ease-in-out 0.15s;
  color-scheme: light;
}

hr {
  height: 0px;
  margin: var(--space-md) 0;
  border: 1px solid var(--green);
}

.ion-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

////////////////////////
/// Base Page
////////////////////////
.base-page {
  padding: var(--space-md);
  background: var(--green-lightest);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(var(--space-md));
  font-family: var(--OpenSans);
  flex: 1;
  @include breakpoint(sm) {
    padding: var(--space-2xl);
  }
  @include breakpoint(md) {
    padding: var(--space-3xl);
    gap: calc(var(--space-xl));

    & > * {
      max-width: 1200px;
    }
  }
}

// Ion-Item Styles
ion-item {
  --background: transparent;

  &:hover,
  &:active,
  &:focus {
    .ion-accordion-toggle-icon {
      color: var(--white);
    }
  }

  .ion-accordion-toggle-icon {
    color: var(--almost-black);
    transition: all ease 0.25s !important;
  }
}

// Swiper
swiper-container {
  width: 100%;
}

// Screen Reader Only
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

// LOADER
ion-spinner {
  display: block;
  margin: auto;
  --color: var(--ion-color-primary);

  &.white {
    --color: var(--ion-color-white);
  }

  &.large {
    height: 10vh;
    width: 15vh;
  }
}

// TOAST
ion-toast {
  --min-width: 80%;
  margin-top: var(--space-sm);
}

// PRINTED PAGES
@media print {
  app-navbar,
  app-footer {
    display: none;
  }

  .ion-page {
    display: initial !important;
    position: initial !important;
  }
  body {
    position: initial !important;
    max-height: initial !important;
    overflow: auto !important;
  }
  ion-router-outlet {
    overflow: auto !important;
    contain: none !important;
    position: initial !important;
  }
  ion-content {
    --offset-bottom: unset !important;
    display: unset !important;
    position: unset !important;
  }
}
