@import "buttons";
@import "typography";
@import "breakpoints";

table {
  margin: var(--space-md) 0;
  overflow: auto;
  display: block;
  @include breakpoint(lg) {
    display: table;
    overflow: unset;
  }

  thead {
    th {
      position: relative;
      padding-left: var(--space-sm);
      padding-bottom: var(--space-sm);
      text-align: left;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: var(--grey);
        /* Line color */
      }
    }
  }

  tbody {
    tr {
      border: inherit;
      border-radius: 4px;

      &:nth-child(even) {
        background-color: var(--green-lightest);
      }

      td {
        height: 100%;
        vertical-align: top;
        font-size: var(--text-sm);
        padding: var(--space-md) var(--space-sm);
        border: inherit;

        &.error {
          // @extend .text-error;
        }

        p {
          margin: 0;
        }

        a,
        button {
          font-size: inherit;
          min-height: 18px;
        }

        button {
          @extend .btn__link;
        }
      }
    }
  }
}
