// ////////////////////////
// /// Headings
// ////////////////////////
// @import "breakpoints";
// :root {
//   --OpenSans: "Open Sans", sans-serif;
//   --PaytoneOne: "Paytone One", sans-serif;
//   --ion-font-family: var(--OpenSans);
//   --text-scale-ratio: 1.25;
//   --text-base: 16px; // 16px | 1 rem

//   // type scale
//   --text-xs: calc(var(--text-sm) / var(--text-scale-ratio)); // 10px | 0.625rem
//   --text-sm: calc(var(--text-base) / var(--text-scale-ratio)); // 13px | 0.812rem
//   --text-md: calc(var(--text-base) * var(--text-scale-ratio)); // 20px | 1.250rem
//   --text-lg: calc(var(--text-md) * var(--text-scale-ratio)); // 25px | 1.562rem
//   --text-xl: calc(var(--text-lg) * var(--text-scale-ratio)); // 31px | 1.938rem
//   --text-2xl: calc(var(--text-xl) * var(--text-scale-ratio)); // 39px | 2.438rem
//   --text-3xl: calc(var(--text-2xl) * var(--text-scale-ratio)); // 49px | 3.062rem
// }

// h1,
// h2,
// h3,
// h4,
// h5 {
//   margin: 0;
// }

// .text-3xl {
//   font-family: var(--PaytoneOne);
//   font-size: var(--text-xl);
//   font-weight: 700;
//   line-height: 40px;
//   color: var(--green-darkest);
//   @include breakpoint(md) {
//     font-size: var(--text-3xl);
//     line-height: 64px;
//   }

//   > span {
//     color: var(--shelterColorSecondary, --orange);
//   }
// }

// h1,
// .text-2xl {
//   font-family: var(--OpenSans);
//   font-size: var(--text-2xl);
//   font-weight: 700;
//   line-height: 58px;
//   letter-spacing: 0.458px;
// }

// h2,
// .text-xl {
//   font-family: var(--OpenSans);
//   font-size: var(--text-xl);
//   font-weight: 700;
//   line-height: 48px;
// }

// h3,
// .text-lg {
//   font-family: var(--OpenSans);
//   font-size: var(--text-lg);
//   font-weight: 700;
//   line-height: 38px;
// }

// h4,
// .text-md {
//   font-family: var(--OpenSans);
//   font-size: var(--text-md);
//   font-weight: 700;
//   line-height: 28px;
// }

// h5,
// .text-sm {
//   font-family: var(--OpenSans);
//   font-size: var(--text-base);
//   font-weight: 600;
//   line-height: 16px;
// }

// p,
// .text-body {
//   font-family: var(--OpenSans);
//   font-size: var(--text-base);
//   font-weight: 400;
//   line-height: 20px;
// }

.text-eyebrow {
  // font-family: var(--OpenSans);
  font-size: var(--text-sm);
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.3px;
  text-transform: uppercase;
}

// .text-micro {
//   font-family: var(--OpenSans);
//   font-size: var(--text-xs);
//   font-weight: 400;
//   line-height: 16px;
// }

.text-error {
  color: var(--ion-color-danger);
  font-weight: bold;
}

// .text-success {
//   color: var(--ion-color-primary);
//   font-weight: bold;
// }

// .text-status {
//   text-align: center;
//   &.error {
//     @extend .text-error;
//   }

//   &.success {
//     @extend .text-success;
//   }
// }

// a {
//   font-family: var(--OpenSans);
//   cursor: pointer;
//   text-decoration: none;

//   &:hover {
//     text-decoration: underline;
//   }

//   &.btn:hover {
//     text-decoration: none;
//   }
// }

// ////////////////////////
// /// Font Imports
// ////////////////////////
// @font-face {
//   font-family: "Open Sans";
//   src: url(../../assets/fonts/OpenSans-Light.ttf);
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Open Sans";
//   src: url(../../assets/fonts/OpenSans-LightItalic.ttf);
//   font-weight: 300;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Open Sans";
//   src: url(../../assets/fonts/OpenSans-Medium.ttf);
//   font-weight: 400 500;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Open Sans";
//   src: url(../../assets/fonts/OpenSans-MediumItalic.ttf);
//   font-weight: 400 500;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Open Sans";
//   src: url(../../assets/fonts/OpenSans-SemiBold.ttf);
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Open Sans";
//   src: url(../../assets/fonts/OpenSans-SemiBoldItalic.ttf);
//   font-weight: 600;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Open Sans";
//   src: url(../../assets/fonts/OpenSans-Bold.ttf);
//   font-weight: 700;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Open Sans";
//   src: url(../../assets/fonts/OpenSans-BoldItalic.ttf);
//   font-weight: 700;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Open Sans";
//   src: url(../../assets/fonts/OpenSans-ExtraBold.ttf);
//   font-weight: 800;
//   font-style: normal;
// }

// @font-face {
//   font-family: "Open Sans";
//   src: url(../../assets/fonts/OpenSans-ExtraBoldItalic.ttf);
//   font-weight: 800;
//   font-style: italic;
// }

// @font-face {
//   font-family: "Paytone One";
//   src: url(../../assets/fonts/PaytoneOne-Regular.ttf);
//   font-weight: 700;
// }
