////////////////////
/// Brand Colors
////////////////////
:root {
  // Green - Primary
  --color-primary--light: #2f7464;
  --color-primary: #1e4a40;
  --color-primary--dark: #122b25;

  // Orange - Secondary
  --color-secondary--light: #ea9d71;
  --color-secondary: #e27739;
  --color-secondary--dark: #c35a1d;

  // Maroon - Tertiary
  --color-tertiary--light: #942624;
  --color-tertiary: #681a19;
  --color-tertiary--dark: #521514;

  // Neutral
  --color-off-white: #ede0cb;
  --color-light: #fff9f0;
  --color-cream: #fffefc;
  --color-dark: #252422;

  // Grayscale
  --color-black: #000;
  --color-gray-900: #1a1a1a;
  --color-gray-800: #333;
  --color-gray-700: #4d4d4d;
  --color-gray-600: #666;
  --color-gray-500: #808080;
  --color-gray-400: #999;
  --color-gray-300: #b3b3b3;
  --color-gray-200: #ccc;
  --color-gray-100: #e6e6e6;
  --color-gray-50: #f2f2f2;
  --color-white: #fff;

  // System - Success
  --color-success-900: #166534;
  --color-success-700: #15803d;
  --color-success-500: #22c55e;
  --color-success-400: #6b9e7a;
  --color-success-200: #bbf7d0;
  --color-success-50: #f0fdf4;
  --color-success: #007e33;

  // System - Error
  --color-error-900: #991b1b;
  --color-error-700: #b91c1c;
  --color-error-500: #ef4444;
  --color-error-200: #fecaca;
  --color-error-50: #fef2f2;
  --color-error: #c00;

  // System - Warning
  --color-warning: #f80;
}
