////////////////////
/// Z-Index — Design System v1
////////////////////
:root {
  --z-100: 0;
  --z-200: 10;
  --z-300: 20;
  --z-400: 100;
  --z-500: 150;
  --z-600: 300;
  --z-700: 400;
  --z-800: 410;
  --z-900: 500;
  --z-1000: 510;
  --z-1100: 600;
  --z-1200: 700;
}
