.list {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid var(--color-neutral-200);
}

.item {
  padding: var(--spacing-300) var(--spacing-400);
  cursor: pointer;
  font-size: var(--font-size-600);
  color: var(--color-neutral-800);

  &:hover,
  &.active {
    background-color: var(--color-neutral-100);
    color: var(--color-primary-500);
  }
}
