.checkboxWrapper {
  display: flex;
  align-items: center;
  margin-bottom: var(--space-base);
  flex-wrap: wrap;
}

// Hide Input
.checkboxInput {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

.requiredIndicator {
  color: var(--color-error);
}

.customCheckbox {
  width: var(--space-base);
  height: var(--space-base);
  border: 1px solid var(--color-dark);
  border-radius: var(--radius-sm);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: var(--space-xs);
  transition: all ease 0.25s;
}

.customCheckbox.checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

.checkIcon {
  color: var(--color-white);
  width: var(--space-base);
  height: var(--space-base);
}

.errorText {
  margin-top: var(--space-2xs);
  font-size: var(--font-size-sm);
  color: var(--color-error);
}
