.favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--color-white);
  border-radius: var(--radius-100);
  width: var(--spacing-600);
  height: var(--spacing-600);
  transition: var(--transition-basic);
  cursor: pointer;

  &:hover {
    box-shadow: var(--shadow-500);
    transform: scale(1.1);

    > svg {
      color: var(--color-primary-500);
    }
  }

  > svg {
    color: var(--color-neutral-900);
    width: var(--spacing-400);
    height: var(--spacing-400);

    &.filled {
      color: var(--color-primary-500);
    }
  }
}
